body {
    background-color: #35353F;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
    font-family: "Indie Flower";
    font-size: larger;
}

.galada-regular {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}  

.p1 {
    float: left;
}

.p2 {
    float: right;
}
  

h1 {
    font-size: 5rem;
    font-family: "Galada";
    text-shadow: 2px 2px #000000;
    color: #45C398;
    text-align: center;
    margin-bottom: 20px;
}

.main {
    color:  #45C398;
    margin: 0px;
    width: 400px;
    height: 350px;
    position: relative;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    /*border: solid #ccff33;*/
}

.playerbox {
    /*border: solid deeppink;*/
    display: inline;
    width: 200px;
    text-align: center;
    font-size: larger;
}


img {
    margin: 0px;
    width: 160px;
    height: 160px;
    border: 0px;
}



footer {
    color: white;
    text-align: center;
    font-size: smaller;
    clear: both;
}
