body {
    background-color: #35353F;
}

footer {
    color: white;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-family: cursive;
    text-shadow: 2px 2px #000000;
    color: #45C398;
    text-align: center;
}

